{{ if and .Site.Params.location.latitude .Site.Params.location.longitude }}
<section id="location" class="no-padding">
    <div class="hidden">
        <input id="gmap-lat" value="{{ .Site.Params.location.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Params.location.longitude }}" />
    </div>
<!--
        <a href="https://www.google.com/maps?z=16&q={{ .Site.Params.location.latitude }},{{ .Site.Params.location.longitude }}&ll={{ .Site.Params.location.latitude }},{{ .Site.Params.location.longitude }}">
-->
        <a href="https://www.openstreetmap.org/?mlat={{ .Site.Params.location.latitude }}&mlon={{ .Site.Params.location.longitude }}#map=19/{{ .Site.Params.location.latitude }}/{{ .Site.Params.location.longitude }}">
        <div id="map">
            &nbsp;
        </div>
    </a>
</section>
{{ end }}
