{{ "<!-- ASIDE -->" | safeHTML }}
<aside id="next_session" class="bg-dark" style="background-color:#f05f40">
    <div class="container text-center">
        <div class="call-to-action">
          <h2>جلسه آینده</h2>
          <p>
            جلسه ۱۰۸ ام |پنجشنبه ۹ام مرداد | موضوع: ارائه ی حمیدرضا معدلی در رابطه با «داکر و کانتینر ها» | ساعت ۱۵ تا ۱۷ | محل برگزاری: خیابان فلسطین ،روبروی کوچه ۵ ، پلاک ۴۸، طبقه ی سوم <br>شرکت در جلسه‌ها برای عموم آزاد و رایگان است.</p>
          {{ with .Site.Params.next_session.buttonText }}
              <a href="#location" class="btn btn-default btn-xl page-scroll">{{ . }}</a>
          {{ end }}
        </div>
    </div>
</aside>
